# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# ===========================
# uv
# ===========================
.python-version

# ===========================
# Environment Variables
# ===========================
.env
.env.*

# ===========================
# IDE
# ===========================
.vscode/
.idea/

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# Testing
# ===========================
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# Build
# ===========================
build/
dist/
*.egg-info/

# ===========================
# Local Database/Data
# ===========================

# 1. Ignore everything inside the data directory by default
data/*

# 2. Open the specific folder path needed to reach your json file

data/test/*
data/test/dataset/*

data/mimic/*
data/schema/*
data/evaluation/*


!data/test/
!data/test/dataset/
!data/test/dataset/mimiciv_demo.json

# 3. Ignore everything else that might be added inside test/ or dataset/


# 4. Re-allow your specific json file and .gitkeep files
!data/mimic/
!data/mimic/.gitkeep

!data/schema/
!data/schema/.gitkeep
!data/schema/enriched_schema.json

!data/evaluation/
!data/evaluation/.gitkeep

!data/graph.json

# Generated outputs
outputs/
artifacts/

# ===========================
# Docker
# ===========================
docker/postgres_data/
docker/qdrant_data/

# ===========================
# OS Files
# ===========================
Thumbs.db

# ===========================
# cloned repository
# ===========================
mimic-code/

docker/qdrant_data/
migration/